# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Logs
logs/
*.log
*.log.*
log/
*.pid
*.seed
*.pid.lock

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Environment variables
.env
.env.*
!.env.example

# Apollo/GraphQL
*.graphqls
*.graphql.d.ts

# Build output
dist/
build/
out/

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Optional - test coverage
coverage/
.nyc_output/

# Optional - TypeScript
*.tsb*
